{% load cms_tags sekizai_tags %}


<!DOCTYPE html>
  <head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
      <title>{{ request.current_page.get_title }}</title>
 


     {% render_block "css" %}
      



  </head>
  <body>


    <script type='text/javascript'>$('body').hide();</script>
    




    {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="/media/readingStyle.css">

    {% endaddtoblock %}


    {% addtoblock "js" %}



     {% endaddtoblock "js" %}

      {% cms_toolbar %}
      {% placeholder base_content %}
      {% block base_content%}{% endblock %}
      {% render_block "js" %}
    <script type='text/javascript'>$('body').show();</script>
  </body>


</html>
