{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% block base_content %}

{% addtoblock "css" %}


{% endaddtoblock "css" %}
<link ref="stylesheet" type="text/css" href="{{ MEDIA_URL }}readingStyle.css" />
<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

{% addtoblock "js" %}
 <!--<script type="text/javascript" src="{{ MEDIA_URL }}jquery-ui/js/jquery.js"></script>  -->
 <!--<script type="text/javascript" src="{{ MEDIA_URL }}jquery-ui/js/jquery-ui.js"></script>-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}readingSetup.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}readingBehavior.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}navigation.js"></script>
{% endaddtoblock "js" %}


 

<div id="metanav" style="height: 10px; background-color: #00CCCC; width:
                         100%; clear: both;">
<div id="allOutsideLinks">
<span class="outsideLinks"> <a href="http://mitpressjournals.org/"> MIT Press </a> </span>
<span class="outsideLinks"> <a href="http://www.amazon.com/Innovations-Technology-Governance-Globalization-ebook/dp/B008TW106Y/ref=sr_1_3?s=digital-text&ie=UTF8&qid=1347420498&sr=1-3">
    Amazon eBook </a> </span>
<span class="outsideLinks"> <a href="http://www.hks.harvard.edu/">Harvard Kennedy School </a> </span>
<span class="outsideLinks"> <a href="http://legatum.mit.edu/"> Legatum </a> </span>

<span class="outsideLinks"> <a href="http://masoninnovation.org/" style="border-right:none"> Mason Center </a> </span>
</div>
</div>

<!--bg and white border-->
<div id="whiteBorder">

<div id="amplifyHeading"><a href ="http://www.projectamplify.co" id="amplifyAnchor">amplify:</a><span id="innovationsHeading"><a href= "http://www.projectamplify.co" id="innovationsAnchor">innova<span id='tHeading'>t</span>ions</a></span>
  <div id="innovationsWholeDiv"> </div>
</div>


  <div id = "articleTitle">
      {% placeholder article_title %}
      <div id = "articleSubTitle"> 
        {% placeholder article_subtitle %}
      </div>
  </div> <!-- closes articleTitle -->

<div id="wholeRightCol">
    <!--article column -->
    <div id = "article">
      {% placeholder article_main %}
      <div id="artWhiteSpace">
        </div>
    </div> <!-- closes article -->
    <!--reference column -->
    <div id="reference">
      {% placeholder reference %}
      <div id="refWhiteSpace">
      </div>
    </div> <!-- closes reference -->

</div> <!-- closes wholeRightCol -->





<div id="currentCountry" class="clear"> 
  {% placeholder current_country_match_img_name %}
</div>

<!-- article title -->


  <!--abstract-->
  <div id="abstractTitle">in brief  </div>
  <div id="entireAbstractBlurb">
    <div class="collapse"> <img src="{{ MEDIA_URL }}/triangleUp.png"></div>
    <div class="expand"> <img src="{{ MEDIA_URL }}/triangleDown.png"></div>
    <div id="abstractRest">

      {% placeholder abstract %}

    </div>
    </div>
  <div id="mapImg"><img src="{{ MEDIA_URL }}/countryImages/Mexico.png"/></div>

  <div id="preOutline">
    <div class="collapse"> collapse all <img src="{{ MEDIA_URL }}/triangleUp.png"></div>
    <div class="expand"> expand all <img src="{{ MEDIA_URL }}/triangleDown.png"></div>
    <!-- outline column -->
  </div>
    <div id="outline">
      {% placeholder outline %}
    </div>










</div> <!-- closes whiteborder -->

{% endblock %}

