{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% block base_content %}

{% addtoblock "css" %}


{% endaddtoblock "css" %}
<link ref="stylesheet" type="text/css" href="{{ MEDIA_URL }}readingStyle.css" />
<link href='http://fonts.googleapis.com/css?family=Bitter'
      rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla'
      rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>

{% addtoblock "js" %}
 <!--<script type="text/javascript" src="{{ MEDIA_URL }}jquery-ui/js/jquery.js"></script>  -->
 <!--<script type="text/javascript" src="{{ MEDIA_URL }}jquery-ui/js/jquery-ui.js"></script>-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}readingSetup.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}readingBehavior.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}navigation.js"></script>
{% endaddtoblock "js" %}


 

<div id="metanav" style="height: 10px; background-color: #00CCCC; width:
                         100%; clear: both;">
<div id="allOutsideLinks">
<span class="outsideLinks"> <a href="http://mitpressjournals.org/"> MIT Press </a> </span>
<span class="outsideLinks"> <a href="http://www.amazon.com/Innovations-Technology-Governance-Globalization-ebook/dp/B008TW106Y/ref=sr_1_3?s=digital-text&ie=UTF8&qid=1347420498&sr=1-3">
    Amazon eBook </a> </span>
<span class="outsideLinks"> <a href="http://www.hks.harvard.edu/">Harvard Kennedy School </a> </span>
<span class="outsideLinks"> <a href="http://legatum.mit.edu/"> Legatum </a> </span>

<span class="outsideLinks"> <a href="http://masoninnovation.org/" style="border-right:none"> Mason Center </a> </span>
</div>
</div>

<!--bg and white border-->
<div id="whiteBorder">

<div id="amplifyHeading"><a href ="http://www.thawing-beyond-8817.herokuapp.com" id="amplifyAnchor">amplify:</a><span id="innovationsHeading"><a href= "http://www.thawing-beyond-8817.herokuapp.com" id="innovationsAnchor">innova<span id='tHeading'>t</span>ions</a></span>
  <div id="innovationsWholeDiv"> </div>
</div>

<div id="articleTitleTopBorder" style="height: 32px; width: 100%"> </div>
  <div id = "articleTitle">
    <div id = "articleMainTitle">
      {% placeholder article_title %}
      </div>
      <div id = "articleSubTitle"> 
        {% placeholder article_subtitle %}
      </div>
  </div> <!-- closes articleTitle -->

<div id="wholeRightCol">
    <!--article column -->
    <div id = "article">
      {% placeholder article_main %}
    </div> <!-- closes article -->
    <!--reference column -->
    <div id="reference">
      {% placeholder reference %}
    </div> <!-- closes reference -->

</div> <!-- closes wholeRightCol -->






<!-- article title -->


  <!--abstract-->
  <div id="wholeLeftCol">
    <div id="abstractTitle">in brief  </div>
    <div id="entireAbstractBlurb">
      <img class="triangleClosed" style="display:none" src="{{ MEDIA_URL }}/triangleTeal_Closed.png"></img>
      <img class="triangleOpen" src="{{ MEDIA_URL }}/triangleTeal_Open.png"></img>
      <div id="abstractRest">
        <span id="abstractContent">
        {% placeholder abstract %}
        </span>

      </div>
    </div>
    <span id="countryName" style=display:none> {% placeholder current_country_match_img_name %}</span>
    <div id="mapImg"></div>


      <div id="preOutline">
        <div class="collapse"> collapse all </div>
        <div class="expand"> expand all </div>
      </div>
    <div id="anchorForOutline">
      <div id="outline">
        {% placeholder outline %}
      </div>
    </div>
  </div> <!-- closes wholeLeftCol -->









</div> <!-- closes whiteborder -->

{% endblock %}

