{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block base_content %}


{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}jquery-ui/css/custom-theme/jquery-ui.css"/>

{% endaddtoblock "css" %}


<link ref="stylesheet" type="text/css" href="{{ MEDIA_URL }}readingStyle.css" />

<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

{% addtoblock "js" %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}processing-1.4.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}navigation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}homeSetup.js"></script>



{% endaddtoblock "js" %}


<div id="amplifyHeading">
	amplify

</div>

<div id="innovations"> 
  <img src="{{ MEDIA_URL }}innovations_layout-13-LOGO.png"/>
</div>



<div id="allIssueLinks">
	<div id="issue2" class="clear">
		vol 7 issue 2 spring 2012 enabling entrepreneurial ecosystems
		</div>
	<div id="issue1" class="clear">
		vol 7 issue 1 winter 2012 unleashing ideas
		</div>
</div>


<div id="globe">
  <embed src="{{ MEDIA_URL }}/countryImages/Mexico.svg" type="image/svg+xml" /> 
</div>


{% endblock %}
