{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block base_content %}


{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}jquery-ui/css/custom-theme/jquery-ui.css"/>

{% endaddtoblock "css" %}


<link ref="stylesheet" type="text/css" href="{{ MEDIA_URL }}readingStyle.css" />

<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

{% addtoblock "js" %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}processing-1.4.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}navigation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}homeSetup.js"></script>



{% endaddtoblock "js" %}


<div id="amplifyHeading">
	amplify

</div>

<div id="innovations"> 
  <img src="{{ MEDIA_URL }}innovations_logo_Shavec.png"/>
</div>



<div id="map"> 
  <img src="{{ MEDIA_URL }}/countryImages/Mexico.png"/>
</div>



{% endblock %}
