{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block base_content %}


{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}jquery-ui/css/custom-theme/jquery-ui.css"/>

{% endaddtoblock "css" %}


<link ref="stylesheet" type="text/css" href="{{ MEDIA_URL }}readingStyle.css" />

<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>

{% addtoblock "js" %}
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>  -->
<!-- <script type="text/javascript" src="{{ MEDIA_URL}}processing-1.4.1.js"></script>-->
<script type="text/javascript" src="{{ MEDIA_URL}}navigation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}homeSetup.js"></script>



{% endaddtoblock "js" %}



<!-- 
<div id="map"> 
  <span id= "mapImg"><img src="{{ MEDIA_URL }}/countryImages/Mexico.png"/></span>
  <div id="homeArtTitle">
    {% placeholder article_title %}
    <div id = "homeArtSubTitle"> 
      {% placeholder article_subtitle %}
    </div>
  </div>
  <div id="homeAbstract">
    {% placeholder abstract %}
    </div>
</div>
 -->

<div id="homeSlate">
  <div id="amplifyHome">amplify: <span id="innovationsHeading">innova<span id='tHeading'>t</span>ions</span>
    <div id="innovationsHome"> </div>
  </div>

  <div id="amplifySpiel"></div>

  <ul id="innovIndex">
    <li class="volHeading">Volume 7, Issue 2 - Spring 2012 <span class="issueTitle">Enabling Entrepreneurial Ecosystems </span></li>
    <ul>
      <li>Lead Essays</li>
      <ul>
        <li class="homeArtTitle"><span class="homeAuthor">Susan Davis</span>Enabling Entrepreneurial Ecosystems</li>
        <li class="homeArtTitle"><span class="homeAuthor">Ovais Naqvi</span>Entrepreneurship in the Middle East and North Africa: Opening the Floodgates</li>
      </ul>
      <li>Case Narratives</li>
      <ul>
        <li class="homeArtTitle"><span class="homeAuthor">Horacio Melo</span>Prosperity Through Connectedness</li>
        <li class="homeArtTitle"><span class="homeAuthor">Vivek Wadhwa</span>The Magic Happens When You Focus on People</li>
        <li class="homeArtTitle"><span class="homeAuthor">Ted Gonder</span>An Early Assessment of Start-Up Chile</li>
        <li class="homeArtTitle"><span class="homeAuthor">Francis J.
            Skrobiszewski</span>Market Making: How Enterprise Funds Can Jump-Start Stagnant
          Economics</li>
        <li class="homeArtTitle"><span class="homeAuthor">William
            Scott Green, Susan Wills Amat</span>Entrepreneurship as a Career</li>
      </ul>
      <li>Analysis</li>
      <ul>
        <li class="homeArtTitle"><span class="homeAuthor">Dylan Higgins, Jake
            Kendall, Ben Lyon</span>Mobile Money Usage Patterns of Kenyan Small and Medium
          Enterprises</li>
      </ul>
      <li>Perspectives On Policy</li>
      <ul>
        <li class="homeArtTitle"><span class="homeAuthor">Mohamed El Dahshan, Ahmed
            H. Tolba, Tamer Badreidin</span>Enabling Entrepreneurship In Egypt: Toward A Sustainable
          Dynamic Model</li>
        <li class="homeArtTitle"><span class="homeAuthor">Phillip Auerswald, Elmira
            Bayrasli, Sara Shroff</span>Creating A Place For The Future: Strategies For
          Entrepreneurship-Led Development In
          Pakistan</li>
      </ul>
    </ul>
    <li class="volHeading">Volume 7, Issue 1 - Winter
    2012 <span class="issueTitle">Unleashing Ideas</span> </li>
    <ul>
      <li>Lead Essays</li>
      <ul>
        <li class="homeArtTitle"><span class="homeAuthor">Alvaro
            Rodriguez Arregui</span>Mexico's Growth Will Come From Entrepreneurship and Small
          and Medium-Sized Enterprises</li>
        <li class="homeArtTitle"><span class="homeAuthor">Ir. Ciputra</span>From Dirt and Scrap to Gold: A Vision for Entrepreneurship
          in Indonesia</li>
      </ul>
      <li>Case Narratives</li>
      <ul>
        <li class="homeArtTitle"><span class="homeAuthor">Seema
            Aziz</span>Lighting a Path in Pakistan</li>
        <li class="homeArtTitle"><span class="homeAuthor">Elmira Bayrasil</span>When Business and Social Missions
          Align</li>
        <li class="homeArtTitle"><span class="homeAuthor">Fiona Darroch</span>Mitigating the Resource Curse through Legal
          Empowerment</li>
        <li class="homeArtTitle"><span class="homeAuthor">Sean McDonald</span>Collective Representation and the Last
          Mile</li>
      </ul>
      <li>Analysis</li>
      <ul>
        <li class="homeArtTitle"><span class="homeAuthor">Suren G.
            Dutia</span>Diaspora Networks: A New Impetus to Drive
          Entrepreneurship</li>
        <li class="homeArtTitle"><span class="homeAuthor">ShannonDing, Kelly Wyett, Eric
            Werker</span>South Sudan: The Birth of an
          Economy</li>
        <li class="homeArtTitle"><span class="homeAuthor">Eric Peck, Lynndee Kemmet, Ray
            McGowan, C. Reed Hodgin, Bart Peintner</span>The Agility Imperative: Emerging Knowledge Management
          Requirements for Stability Operations in the U.S.
          Army</li>
      </ul>
      <li>Perspectives on Policy</li>
      <ul>
        <li class="homeArtTitle"><span class="homeAuthor">Bryony Everett, Erika Wagner,
            Christopher Barnett</span>Using Innovation Prizes to Achieve the Millenium Development
          Goals</li>
      </ul>
    </ul>
  </ul>

</div>

{% endblock %}
