{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}

<link type="text/css" href="/static/cms/css/jquery/cupertino/jquery-ui.css" />


<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>


<div id="left" style="background-color:#FFFFFF;width:600px;height:10000px;float:left;border-right:1px;border-right-color:#000000;">


{% placeholder left_column_content %}
</div>

<div id="right" style="background-color:#CCCCCC;width:220px;height:10000px;float:left;">



{% placeholder right_column_content %}
</div>



  {% placeholder template_1_content %}
{% endblock %}
