{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}

<link type="text/css" href="{{ MEDIA_URL }}jquery-ui/css/custom-theme/jquery-ui.css" />

<script type="text/javascript" src="{{ MEDIA_URL }}jquery-ui/js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery-ui/js/jquery-ui.js"></script>



<div id="left" style="background-color:#FFFFFF;width:500px;height:10000px;float:left;border-right:1px;border-right-color:#000000;padding-left:39;padding-right:50px;">


{% placeholder left_column_content %}
</div>

<div id="right" style="background-color:#CCCCCC;width:220px;float:left;">



{% placeholder right_column_content %}
</div>



  {% placeholder template_1_content %}


 
{% endblock %}
