
#whiteBorder{
    background-color: #EDEEE1;
    height: 900px;  /*hardcoded */
    width: 1292px;
    position: absolute;
    left: 0px;
    top: 200px;
	
}

#amplifyHeading{
/*	font-family: 'Patua One', cursive;*/
/*	font-family: 'Headland One', serif;*/
	font-family: 'Bitter', serif;
	font-size: 72pt;
	color: #009DAE;
	position: absolute;
	padding-top: 20px;
        width: 365px;
        text-align: center;
        z-index: 999;


}

#innovations{
    position: absolute;
    width: 718;
    height: 167;
    top: 53;
    z-index: -1;
    left: 400;
                    
}

#allIssueLinks{
	position: absolute;
}

.issueLinks{
	font-size: 13pt;
	height: 20px;
}

#abstractTitle{
/*	font-family: 'Patua One', cursive;*/
/*	font-family: 'Headland One', serif;*/
	font-family: 'Bitter', serif;
	font-size: 48pt;
	text-align: center;
	color: #009DAE;
	width: 350px;
	position: absolute;
        padding-bottom: 15px
        padding-left: 10px;
        padding-right: 15px;
}

#abstractRest{
    width: 350px;
    position: absolute;
	font-size: 10pt;
	font-family: helvetica;
	position: absolute;
	padding-left: 10px;
	padding-right: 15px;
        padding-bottom: 5px;
}

#title{
    background-color: blue;
    font-size: 22pt;
    left: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 1159px;
    text-align: center;
}



#abstractTitle{
    font-size: 32pt;
    padding-top: 5px;
	padding-bottom: 10px;
}

#abstractRest{
	padding-left: 10px;
	border-left: 1px solid grey;
}

.clear{
    height:0px;
    overflow:hidden;
	display: block;
}

#outline{
    width: 350px;
    position: absolute;
    padding-bottom: 10px;
    border-left: 1px solid grey;
    overflow: scroll;
/*	background-color: #EDEEE1;*/

    
	
}


.outlineBox{
    font-size: 10pt;
    font-family: helvetica;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.outlineTitle{
	padding-bottom: 5px;
	font-weight: bold;
	border-bottom: 1px solid grey;
}

.outlineRest{
	padding-bottom: 5px;
}


#article{
    font-family: helvetica;
    font-size: 10pt;
    background-color: white;
	width: 500px;
	position: absolute;

	padding-bottom: 20px;
        padding-top: 20px;
	padding-left: 35px;
	padding-right: 35px;
	
	overflow: hidden;
        position: absolute;
}

#articleTitle{
	background-color: #EDEEE1;
	position: absolute;
	padding-left: 10px;
	padding-right: 35px;
	padding-bottom: 15px;
	text-align: left;

	font-size: 30pt;
	font-family: helvetica;

        width: 820px;
}

#articleSubtitle{
	font-weight: normal;
	display: inline;
	text-align: left;
	font-size: 22pt;
}

.authorHeading{
	font-weight: bold;
	font-size: 14pt;
}

#reference{
    background-color: white;
    padding-bottom:60px;
    position:absolute;
    padding-left: 50px;
    padding-right: 10px;
    overflow: scroll;
}

.artPar{
}


.footNumber{
    color:red;
}

.references{
    font-size:8pt;
}




