#nav-bar{
    padding-left: 80px;
    padding-top: 500px;
    padding-bottom: 40px;
}


#bg{
    background-color: #EFEFEF;
    height: 1500px;
    position: absolute;
}

#whiteBorder{
    background-color: white;
    height: 661px;  /*hardcoded */
    width: 1300px;
    position: relative;
    left: 0px;
    top: 200px;


}

#title{
    background-color: blue;
    font-size: 22pt;
    left: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 1159px;
    text-align: center;
}


#outline{
    width: 400px;
    position: absolute;
	padding-bottom: 10px;
}

.abstractTitle{
    font-size: 24pt;
    padding-top: 5px;
}

.clear{
    height:0px;
    overflow:hidden;
}



.outlineBox{
    font-size: 10pt;
    font-family: helvetica;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.outlineTitle{
	padding-bottom: 5px;
	font-weight: bold;
}

.outlineRest{
}


#article{
    font-family: helvetica;
    font-size: 10pt;
    background-color: #F3F1E5;
	width: 500px;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: scroll;
	

}

#reference{
    background-color: #F3F1E5;
    width: 220px;
    border-left: 5px solid black;
    padding-bottom:60px;
    position:absolute;
    padding-left: 100px;
    padding-right: 10px;
	overflow: hidden;

    
}

.artPar{
}


.clearArtPar{
    height:0;
    overflow:hidden;
    display:block;
}


.footNumber{
    color:red;
}

.references{
    font-size:8pt;
}




